# ----------------------
# ENV FILES
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# PYTHON
# ----------------------
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
.venv/
venv/
env/
*.egg-info/

# ----------------------
# NODE / FRONTEND
# ----------------------
node_modules/
dist/
build/
.next/
coverage/

# ----------------------
# MAC OS
# ----------------------
.DS_Store

# ----------------------
# DOCKER
# ----------------------
docker-compose.override.yml

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# Misc
# ----------------------
*.swp